{% extends 'index.html' %}

{% block title %}Erro 500{% endblock %}

{% block content %}
<div class="px-4 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Erro 500 - Algo não saiu como planejado! 🚧</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Ops! Nosso sistema parece que deu uma tropeçada e caiu, mas estamos aqui para levantar ele
            rapidinho. Esse é o Erro 500, o que significa que algo deu errado lá do nosso lado. Já estamos
            resolvendo para que tudo fique no lugar!

            Enquanto isso, fique à vontade para dar uma olhadinha em outras páginas. Estamos ansiosos para ver
            você explorando por aqui sem interrupções! 😉
        </p>
    </div>
</div>
{% endblock %}
