<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Filmes para Alugar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Filmes para Alugar</h1>
        <button onclick="location.href='/logout'" class="login-button">Logout</button>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for filme in listaFilmesAlugar %}
                <div class="col mb-4">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename='imagens/' + filme.imagem) }}" 
                        style="width: auto; height: 300px; object-fit: cover;" alt="Imagem do filme {{ filme.nome }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ filme.nome }}</h5>
                            <p class="card-text">R$ {{ filme.preco }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                {% if filme.id in carrinho %}
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="?id={{ filme.id }}">- Remover do Carrinho</a>
                                {% else %}
                                    <a type="button" class="btn btn-sm btn-outline-secondary" href="?id={{ filme.id }}">+ Adicionar ao Carrinho</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
