<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Lista de Filmes</h1>
        <button onclick="location.href='/login'" class="login-button">Login</button>
    </header>
    
    <main>
        <section>
            <h2>Filmes</h2>
            <ul>
                {% for filme in filmes %}
                    <li>{{ filme.descricao }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Adicionar Filme</h2>
            <form method="POST" action="/add">
                <input type="text" name="descricao" required placeholder="Descrição do Filme">
                <button type="submit">Adicionar</button>
            </form>
        </section>
    </main>
</body>
</html>
