<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
</head>
<body>
    <h1>Lista de Filmes</h1>
    <form action="/add" method="post">
        <input type="text" name="descricao" placeholder="Novo Filme">
            <button type="submit">Add</button>
    </form>
    <ul>
        {% for filme in listaFilmes %}
            <li>{{filme.descricao}}-{% if filme.completo %}Completa{% else %}Pendente{% endif %}</li>
        {% endfor %}
    </ul>
</body>
</html>